{% from "macros/fields.html" import render_text_field %}

{% extends "layout.html" %}

{% block head_content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}" />
{% endblock %}

{% block main_content %}
<form name="add_movie" method="post" action="{{ url_for('pages.add_movie') }}" novalidate class="form">
    {{ form.csrf_token }}
    <div class="form__container">
        {{ render_text_field(form.title) }}
        {{ render_text_field(form.director) }}
        {{ render_text_field(form.year) }}

        <div>
            {{ form.submit(class_="button--form", type="submit") }}
        </div>
    </div>
</form>
{% endblock %}